/*
  Docs at http://http://simpleweatherjs.com

  Look inspired by http://www.degreees.com/
  Used for demo purposes.

  Weather icon font from http://fonts.artill.de/collection/artill-weather-icons
*/

@font-face {
    font-family: 'weather';
    src: url('weatherfont/artill_clean_icons-webfont.eot');
    src: url('weatherfont/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
url('weatherfont/artill_clean_icons-webfont.woff') format('woff'),
url('weatherfont/artill_clean_icons-webfont.ttf') format('truetype'),
url('weatherfont/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
  
}

body {
  padding: 0;
  margin:0 ; 
  font: 16px 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #fff;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0); !important
  background-size: cover !important;
}



.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }
.icon-3200:before { content: ""; }/*azertyuiopqsdfghjklmwxcvbn1234567890QSDFGHJKLMWXCVBN?.;#*"\'*/

.icon-wind:before { 
	content: "."; 
	font-size: 60px !important;
	padding-right: 10px;
}

.icon-humidite:before { 
	content: "5"; 
	font-size: 60px !important;
	padding-right: 10px;
}

.icon-lever:before { 
	content: "7"; 
	font-size: 60px !important;
	padding-right: 5px;
}

.icon-coucher:before { 
	content: "8"; 
	font-size: 60px !important;
	padding-left: 10px;
	padding-right: 5px;
}

/*icones supplémentaires
.icon-lever:before { 
	content: "0";
	color : #000 ;
	font-size: 40px;
	position: absolute;
	margin: -90px 0 0 -30px;
	 }

.icon-coucher:before { 
	content: "9";
	color : #000 ;
	font-size: 40px;
	position: absolute;
	margin: -90px 0 0 -30px;
	 }

i {
  color: #fff;
  font-family: weather;
  font-size: 150px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
}*/






i {
  font-size: 120px !important;
  margin : -5px 0 -30px 0;
  color: #fff;
  font-family: weather;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
}

 h2 {
	  margin: 0 0 -10px 0;
	  color: #fff;
	  font-size: 30px;
	  font-weight: blod;
	  text-align: center;
	  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
	}
	
	 h3 {
	  margin: 10px 0 -20px 0 ;
	  color: #fff;
	  font-size: 25px;
	  font-weight: blod;
	  text-align: center;
	  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
	} 
	 h4 {
	  margin: 10px 0 0 0;
	  color: #fff;
	  font-size: 18px;
	  font-weight: blod;
	  text-align: center;
	  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
	}
		#met_fr {
	  margin: -10px 0 15px 0 !important;
	  
	} 


 h5 {
  margin: 0 0 0 0;
  color: #fff;
  font-size: 20px;
  font-weight: blod;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

.descr {
	position:absolute !important;
	width:200px !important;
}

 ul {
  margin: 0;
  padding: 0;
}

#jour {
	float: left ;

}

#jour li {
	width:245px !important;
	height: 400px !important;
}
 li {
  background: #fff;
  /*background: rgba(255,255,255,0.90);*/
  padding: 20px 30px;
  display: inline-block;
  border-radius: 5px; 
  margin: 10px;
  width:195px ;
height: 170px ;
  background: -webkit-linear-gradient(
        top,
        #78D1DB,
        #38A8CD 30%,
        #38A8CD 50%,
        #38A8CD 70%,
        #78D1DB
    );
    background: -moz-linear-gradient(
        top,
        #78D1DB,
        #38A8CD 30%,
        #38A8CD 50%,
        #38A8CD 70%,
        #78D1DB
    );
    background: -o-linear-gradient(
        top,
        #78D1DB,
        #38A8CD 30%,
        #38A8CD 50%,
        #38A8CD 70%,
        #78D1DB);
    background: linear-gradient(top,
        #78D1DB,
        #38A8CD 30%,
        #38A8CD 50%,
        #38A8CD 70%,
        #78D1DB);

}



#now {
	width: 40%;
	float: left;
	min-width: 250px ;
	margin-top: 80px ;
	
	
}

#now h2, #now h3, #now h1, #now h4 {
	text-shadow: 5px 3px 3px rgba(0, 0, 0, 0.60) !important; 
}





.marge {
	margin : 0px 20px ;
}

/*Température*/
.temp_max {
	color: #FFEE66 ;
}

.temp_min {
	color:#CFF ;
}

.temp {
	text-align: left !important;
	margin: 10px 0 0 150px !important;
}



#jour1 .temp {
	text-align: left !important;
	margin: 05px 0 10px 180px !important;
	font-size: 40px ;
}

/*Vent*/
.petit {
	font-size:20px ;
}

.vent {
	margin-top: -50px !important;
	margin-bottom: -20px !important;
}

/*Humidité */
.humid {
	margin-top: -110px !important;
	margin-bottom: -20px !important;
}


 ul li img {
	width: 200px ;
}

.spasse {
	margin-bottom: 150px ; }
	
	
.imgpetite {background-size: 200px 144px !important; background-position: 0px 30px !important; }
.imggrand {background-position: 0px 40px !important; }


	#slideshow0 {
	margin:auto !important;
	width: 100% !important;
	height:286px !important;
	background: tranparent !important;
	}

@media screen and (max-width: 340px) and (max-height: 245px){
	

	 h2 {
	  margin: 0 0 -15px 0;
	  color: #fff;
	  font-size: 30px;
	  font-weight: blod;
	  text-align: center;
	  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
	}
	
	 h3 {
	  margin: 10px 0 -20px 0 ;
	  color: #fff;
	  font-size: 25px;
	  font-weight: blod;
	  text-align: center;
	  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
	} 
	 h4 {
	  margin: 10px 0 0 0;
	  color: #fff;
	  font-size: 18px;
	  font-weight: blod;
	  text-align: center;
	  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
	}

	i {
	  font-size: 120px !important;
	  margin : -5px 0 -30px 0;
	  }
	  
	.temp1{
	}
	#met_fr {
	  margin: -10px 0 15px 0 !important;
	  
	} 
	
	#slideshow0 {
	margin:auto !important;
	height:238px !important;
	background: tranparent !important;
  
}
}


@media screen and (max-height: 230px){
	

	 h2 {
	  margin: 0 0 -15px 0;
	  font-size: 30px;
	}
	
	 h3 {
	  margin: 15px 0 -20px 0 ;
	  font-size: 25px;
	} 
	 h4 {
	  margin: -5px 0 0 0;
	  font-size: 18px;
	}

	i {
	  font-size: 120px !important;
	  margin : -5px 0 -30px 0;
	  }
	  
	.temp1{
	}
	#met_fr {
	  margin: -15px 0 10px 0 !important;
	  
	} 
	
	#slideshow0 {
	margin:auto !important;
	height:222px !important;
	background: tranparent !important;
  
}
}


	
	
	#weather, #weather2{
		background: rgba (0, 0, 0, 0) !important;
		width: 100%;
		height: 100%;
	}

.picto0 { background: url('image/pictos/0d.png') no-repeat scroll -20px 30px transparent; }
.picto1 { background: url('image/pictos/1d.png') no-repeat scroll -20px 30px transparent; }
.picto2 { background: url('image/pictos/2d.png') no-repeat scroll -20px 30px transparent; }
.picto3 { background: url('image/pictos/3d.png') no-repeat scroll -20px 30px transparent; }
.picto4 { background: url('image/pictos/4d.png') no-repeat scroll -20px 30px transparent; }
.picto5 { background: url('image/pictos/5d.png') no-repeat scroll -20px 30px transparent; }
.picto6 { background: url('image/pictos/6d.png') no-repeat scroll -20px 30px transparent; }
.picto7 { background: url('image/pictos/7d.png') no-repeat scroll -20px 30px transparent; }
.picto8 { background: url('image/pictos/8d.png') no-repeat scroll -20px 30px transparent; }
.picto9 { background: url('image/pictos/9d.png') no-repeat scroll -20px 30px transparent; }
.picto10 { background: url('image/pictos/10d.png') no-repeat scroll -20px 30px transparent; }
.picto11 { background: url('image/pictos/11d.png') no-repeat scroll -20px 30px transparent; }
.picto12 { background: url('image/pictos/12d.png') no-repeat scroll -20px 30px transparent; }
.picto13 { background: url('image/pictos/13d.png') no-repeat scroll -20px 30px transparent; }
.picto14 { background: url('image/pictos/14d.png') no-repeat scroll -20px 30px transparent; }
.picto15 { background: url('image/pictos/15d.png') no-repeat scroll -20px 30px transparent; }
.picto16 { background: url('image/pictos/16d.png') no-repeat scroll -20px 30px transparent; }
.picto17 { background: url('image/pictos/17d.png') no-repeat scroll -20px 30px transparent; }
.picto18 { background: url('image/pictos/18d.png') no-repeat scroll -20px 30px transparent; }
.picto19 { background: url('image/pictos/19d.png') no-repeat scroll -20px 30px transparent; }
.picto20 { background: url('image/pictos/20d.png') no-repeat scroll -20px 30px transparent; }
.picto21 { background: url('image/pictos/21d.png') no-repeat scroll -20px 30px transparent; }
.picto22 { background: url('image/pictos/22d.png') no-repeat scroll -20px 30px transparent; }
.picto23 { background: url('image/pictos/23d.png') no-repeat scroll -20px 30px transparent; }
.picto24 { background: url('image/pictos/24d.png') no-repeat scroll -20px 30px transparent; }
.picto25 { background: url('image/pictos/25d.png') no-repeat scroll -20px 30px transparent; }
.picto26 { background: url('image/pictos/26d.png') no-repeat scroll -20px 30px transparent; }
.picto27 { background: url('image/pictos/27d.png') no-repeat scroll -20px 30px transparent; }
.picto28 { background: url('image/pictos/28d.png') no-repeat scroll -20px 30px transparent; }
.picto29 { background: url('image/pictos/29d.png') no-repeat scroll -20px 30px transparent; }
.picto30 { background: url('image/pictos/30d.png') no-repeat scroll -20px 30px transparent; }
.picto31 { background: url('image/pictos/31d.png') no-repeat scroll -20px 30px transparent; }
.picto32 { background: url('image/pictos/32d.png') no-repeat scroll -20px 30px transparent; }
.picto33 { background: url('image/pictos/33d.png') no-repeat scroll -20px 30px transparent; }
.picto34 { background: url('image/pictos/34d.png') no-repeat scroll -20px 30px transparent; }
.picto35 { background: url('image/pictos/35d.png') no-repeat scroll -20px 30px transparent; }
.picto36 { background: url('image/pictos/36d.png') no-repeat scroll -20px 30px transparent; }
.picto37 { background: url('image/pictos/37d.png') no-repeat scroll -20px 30px transparent; }
.picto38 { background: url('image/pictos/38d.png') no-repeat scroll -20px 30px transparent; }
.picto39 { background: url('image/pictos/39d.png') no-repeat scroll -20px 30px transparent; }
.picto40 { background: url('image/pictos/40d.png') no-repeat scroll -20px 30px transparent; }
.picto41 { background: url('image/pictos/41d.png') no-repeat scroll -20px 30px transparent; }
.picto42 { background: url('image/pictos/42d.png') no-repeat scroll -20px 30px transparent; }
.picto43 { background: url('image/pictos/43d.png') no-repeat scroll -20px 30px transparent; }
.picto44 { background: url('image/pictos/44d.png') no-repeat scroll -20px 30px transparent; }
.picto45 { background: url('image/pictos/45d.png') no-repeat scroll -20px 30px transparent; }
.picto46 { background: url('image/pictos/46d.png') no-repeat scroll -20px 30px transparent; }
.picto47 { background: url('image/pictos/47d.png') no-repeat scroll -20px 30px transparent; }



/* .currently {
  margin: 0 20px;
}*/
